.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8b38;
    border-radius: 5px;
    color: #ffffff;
    min-width: 270px;
    height: 35px;
}
.active{
    background-color: #d8d8d8;
}